<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Setting the View-port -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Linking jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <title>Eat-Dat-Burger!</title>

</head>

<body style="background-image: url('https://st4.depositphotos.com/13841446/19750/v/1600/depositphotos_197506534-stock-illustration-silhouette-cocktail-coconut-water-random.jpg');">
    {{{ body }}}
</body>

</html>